.main{
    height: 700px;
    width: 100%;
    background-image: url(./images/1.jpg);
    background-repeat: no-repeat;
    
}
.header{
    height: 90px;
}
.logo{
    float: left;
    padding-left: 10px;
    height: 100px;
    
}
.png{
    height: 90px;
}
.nav{
    float: right;
    color: #807979;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 20px;
}
.nav a{
    padding: 0 9px 0 9px;
    font-size: 25px;
    text-decoration: none;
    color: rgb(228, 218, 218);
}
.nav a:hover {
    background-color: #ddd;
    color: black;
    size: 14px;

  }
  .marq{
    height: 50px;
    font-size: 30px;
    background-color: black;
    color: beige;
    
  }

.introduction{
    margin-top: -5px;
    padding-top: 30px;
    display: flex;
    width: 100%;
    background-color: rgb(91, 106, 241);
}
.introtext{
    float: left;
    text-align: left;
    padding-left: 100px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 18px;
}
.introimage{
    float: right;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.products{
    display: flex;
    width: 100%;
    padding-top: 20px;
}

.proimage{
    float: left;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    

}
.proimg{
    border-radius: 20%;
}
.protext{
    float: right;
    text-align: left;
    padding-left: 130px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 18px;
}

.services{
    display: flex;
    width: 100%;
    background-color: rgb(91, 106, 241);
}
.servtext{
    float: left;
    text-align: left;
    padding-left: 100px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 18px;
}
.servimage{
    float: right;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.img3{
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer{
    display: flex;
    width: 100%;
    background-color: rgb(34, 34, 36);
    padding-top: 50px;
    padding-bottom: 30px;
}

.footerlogo{
    float: left;
    width: 50%;
    margin-top: -30px;
    
}
.logo2{
    margin-left: 25px;
    height: 100px;
    
}
.logotext{
    margin-top: -15px;
    margin-left: 11px;
    color: #ddd;
}
.links{
    float: left;
    width: 25%;
    
}
.address{
    float: right;
    color: #c9c8c8;
    text-align: center;
    width: 25%;
    margin-right: 17px;
    
}